<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Verido - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href=/"assets/images/favicon.ico"> <!-- jvectormap -->
    <link href="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/assets/css/pagination.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">



</head>

<body class="">
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
            <a href="/" class="logo">
                <span>
                    <!-- <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm"> -->
                </span>
                <span class="custom-logo">
                    Verido
                    <!-- <img src="assets/images/logo.png" alt="logo-large" class="logo-lg logo-light"> -->
                    <!-- <img src="assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark"> -->
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                <li class="menu-label mt-0">Main</li>
                <li>
                    <a href="javascript: void(0);"> <i data-feather="home"
                            class="align-self-center menu-icon"></i><span>Dashboard</span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="/dashboard-consultant/<%=id %> "><i
                                    class="align-self-center fas fa-chart-line menu-icon"></i>Analytics</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);"><i data-feather="grid"
                            class="align-self-center menu-icon"></i><span>Apps</span></a>
                    <ul class="nav-second-level" aria-expanded="false">

                        <li class="nav-item"><a class="nav-link" href="/consultant-chat-page/<%=id %> "><i
                                    class="align-self-center fas fa-comments menu-icon"></i>Chat</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-address-book menu-icon align-self-center"></i>Contact List</a></li> -->

                    </ul>
                </li>
                
                <li>
                    <a href="javascript: void(0);"><i data-feather="list" class="align-self-center menu-icon"></i><span>Pages</span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="/consultant-index/<%=id %> "><i class="fas fa-wallet menu-icon align-self-center"></i>Business Owners</a></li>
                    </ul>
                </li>

                


                <li>
                    <a href="javascript: void(0);"><i data-feather="lock"
                            class="align-self-center menu-icon"></i><span>Authentication</span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="/"><i
                                    class="fas fa-sign-in-alt menu-icon align-self-center"></i>Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recover"><i
                                    class="fas fa-key menu-icon align-self-center"></i>Recover Password</a></li>
                    </ul>
                </li>

            </ul>


        </div>
    </div>
    <!-- end left-sidenav-->


    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-end mb-0">
                   


                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown"
                            href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="ms-1 nav-user-name hidden-sm"><%=username %> </span>
                            <!-- <img src="/assets/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />                                  -->
                            <i class="fas fa-user fa-1x text-muted"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#">Company Logo</a>
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" href="#"><i data-feather="file"
                                    class="align-self-center icon-xs icon-dual me-1"></i> Choose File</a>
                        </div>
                    </li>
                </ul>
                <!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <button class="nav-link button-menu-mobile">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>
                    </li>

                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->

        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row">
                                <div class="col">
                                    <h4 class="page-title">Chat</h4>

                                </div>
                                <!--end col-->

                            </div>
                            <!--end row-->
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-12">
                        <div class="chat-box-left">
                            <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="general_chat_tab" data-bs-toggle="pill"
                                        href="#general_chat">Business Owners</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="admin_chat_tab" data-bs-toggle="pill"
                                        href="#admin_chat">Admin</a>
                                </li>
                               
                            </ul>


                            <div class="chat-list" data-simplebar>
                                <div class="tab-content " id="pills-tabContent">
                                   
                                    <div class="tab-pane fade show active" id="general_chat">
                                        
                                        <% for( let index = 0; index < business.length; index++ ) { %>
                                            <a href="/consultant-chat/<%=business[index]._id %>/<%=id %>" class="media new-message">
                                                <div class="media-left">
                                                    <!-- <img src="assets/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-md"> -->
                                                    <i class="fas fa-user fa-2x"></i>
                                                    <span class="round-10 bg-success"></span>
                                                </div><!-- media-left -->
                                                <div class="media-body">
                                                    <div class="d-inline-block">
                                                        <h6><%=business[index].full_name %> </h6>
                                                    </div>
                                                   
                                                </div><!-- end media-body -->
                                            </a>
                                            <!--end media-->
                                            <% if (index === 6) { %>
                                            <% break %>
                                            <% } %>
                                            <% } %>
                                        <!--end media-->
                                    </div>
                                    <!--end general chat-->
                                    
                                    <div class="tab-pane fade" id="admin_chat">
                                        
                                        <% for( let index = 0; index < admins.length; index++ ) { %>
                                            <a href="/admin-chat/<%=admins[index]._id %>/<%=id %>" class="media new-message">
                                                <div class="media-left">
                                                    <!-- <img src="assets/images/users/user-1.jpg" alt="user" class="rounded-circle thumb-md"> -->
                                                    <i class="fas fa-user fa-2x"></i>
                                                    <span class="round-10 bg-success"></span>
                                                </div><!-- media-left -->
                                                <div class="media-body">
                                                    <div class="d-inline-block">
                                                        <h6><%= admins[index].username.slice(0, admins[index].username.indexOf('@')) %> </h6>
                                                    </div>
                                                   
                                                </div><!-- end media-body -->
                                            </a>
                                            <!--end media-->
                                            <% } %>
                                           
                                    </div>
                                    <!--end general chat-->

                                    
                                    <!--end group chat-->

                                    
                                    <!--end personal chat-->
                                </div>
                                <!--end tab-content-->
                            </div>
                        </div>
                        <!--end chat-box-left -->

                        <div class="chat-box-right">
                            <div class="chat-header">
                                <a href="" class="media">
                                    <div class="media-left">
                                        <!-- <img src="/assets/images/users/user-4.jpg" alt="user" class="rounded-circle thumb-md"> -->
                                        <i class="fas fa-user fa-2x"></i>
                                    </div><!-- media-left -->
                                    <div class="media-body">
                                        <div>
                                            
                                            <% if (data.username) { %>
                                                <h6 class="m-0"><%=data.username %> </h6>
                                            <% } else { %>
                                                <h6 class="m-0"><%=data.username %> </h6>

                                            <% } %> 
                                            <p class="mb-0">Last seen: 2 hours ago</p>
                                        </div>
                                    </div><!-- end media-body -->
                                </a>
                                <!--end media-->

                            </div><!-- end chat-header -->
                            <div class="chat-body" data-simplebar>
                                <div class="chat-detail" id="chat-detail">
                                   <% for( let index = 0; index < prev_messages.length; index++ ) { %>
                                    <div class="media">
                                    
                                        <div class="media-body 'not-reverse'">
                                            <div class="chat-msg">
                                                <p><%=prev_messages[index].message %> </p>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                   <% } %>

                                </div> <!-- end chat-detail -->
                            </div><!-- end chat-body -->
                            <div class="chat-footer">
                                <div class="row">
                                    <div class="col-12 col-md-9">
                                        <!-- <span class="chat-admin"><img src="/assets/images/users/user-8.jpg" alt="user"
                                                class="rounded-circle thumb-sm"></span> -->
                                        <!-- <form action="" id="message-form"> -->
                                            <input type="text" class="form-control" id="input"
                                                placeholder="Type something here...">
                                            <button class="btn btn-secondary btn-sm" id="btn-sm-send">SEND</button>
                                        <!-- </form> -->
                                    </div><!-- col-8 -->
                                    <div class="col-3 text-right">
                                        <div class="d-none d-sm-inline-block chat-features">
                                            <a href=""><i class="fas fa-camera"></i></a>
                                            <a href=""><i class="fas fa-paperclip"></i></a>
                                            <a href=""><i class="fas fa-microphone"></i></a>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end chat-footer -->
                        </div>
                        <!--end chat-box-right -->
                    </div> <!-- end col -->
                </div><!-- end row -->

            </div><!-- container -->

            <footer class="footer text-center text-sm-start">
                &copy; <script>
                    document.write(new Date().getFullYear())
                </script> Verido 
            </footer>
            <!--end footer-->
        </div>




        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/pagination.js"></script>
        <script src="/assets/js/metismenu.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/feather.min.js"></script>
        <script src="/assets/js/simplebar.min.js"></script>
        <script src="/assets/js/moment.js"></script>
        <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>

        <script src="/assets/plugins/apex-charts/apexcharts.min.js"></script>
        <script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
        <script src="/assets/pages/jquery.analytics_dashboard.init.js"></script>
        <script src="/assets/js/all.min.js"></script>

        <!-- App js -->
        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/ejs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.28.2.min.js></script>
        <script>
              const data =  <%- JSON.stringify(id) %>
              const admin =  <%- JSON.stringify(data._id) %>
              const current_consultant =  <%- JSON.stringify(consultant) %>
        
              
        </script>
        <script>
            
            
                (function() {
                    const pubnub = new PubNub({
                        publishKey: "pub-c-3272fe08-52e8-4278-826d-98a0cc703878",
                        subscribeKey: "sub-c-afe58600-7616-11ec-add2-a260b15b99c5",
                        uuid: `consultant-${data}`,
                        // uuid: data.toString(),
                    });
                    function $(id) {
                        return document.getElementById(id);
                    }
                    let box = $('chat-detail'),
                        input = $('input'),
                        send = $('btn-sm-send'),
                        // channel = 'chat';
                        channel = `chat-${data}`;
                        
                    pubnub.addListener({
                        message:  async function(obj) {
                            box.innerHTML = box.innerHTML + (`
                                <div class="media">
                                    
                                    <div class="media-body ${obj.publisher === `consultant-${data}` ? 'not-reverse' : 'reverse'}">
                                        <div class="chat-msg">
                                            <p>${obj.message}</p>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            `)
                            
                            // await axios.post(`http://localhost:5000/new-consultant-message/${current_consultant}`, {
                            await axios.post(`https://verido-2-ihdqs.ondigitalocean.app/new-consultant-message/${current_consultant}`, {
                                message: obj.message,
                                to: `${admin}`,
                                from: `${current_consultant}`
                            }).then(response => console.log(response.data.message))

                        }
                    });
                    pubnub.subscribe({
                        channels: [channel]
                    });
                    input.addEventListener('keyup', function(e) {
                        if ((e.keyCode || e.charCode) === 13) {
                            pubnub.publish({
                                channel: channel,
                                message: input.value,
                                x: (input.value = '')
                            });
                        }
                    });
                    send.addEventListener('click', function(e) {
                            pubnub.publish({
                                channel: channel,
                                message: input.value,
                                x: (input.value = '')
                            });
                    });
                })();

        </script>

        <!-- <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>        -->
         <script>
            
            //let socket = io('https://verido-admin-ri2er.ondigitalocean.app')
            // let socket = io('http://localhost:8000')
    
            // socket.on('message.sent', function(data){
            //     console.log(data.index)
            //     $('.chat-detail').append(`
            //         <div class="media">
                        
            //             <div class="media-body ${data.index ? 'reverse' : 'not-reverse'}">
            //                 <div class="chat-msg">
            //                     <p>${data.data}</p>
            //                 </div>
                            
            //             </div>
            //             <!--end media-body-->
            //         </div>
            //     `)
                                  
           // })

    
            // $(function(){
            //     $('#message-form').on('submit', function(e){
            //         e.preventDefault()
            //         socket.emit('message.send', {
            //             message: $('#message').val(),
            //             id: socket.id
            //         })
            //     })
            // })
        </script>

</body>

</html>